__pycache__/
*.py[cod]
*$py.class
env/
venv/
.venv/
ENV/
build/
dist/
*.spec
*.egg-info/
.eggs/
*.log
*.sqlite3
.idea/
.vscode/
.DS_Store
deathcount.txt
deathcounter.exe
deathcounter_win32.zip
deathcounter_darwin.zip
deathcounter_linux.zip